@using con_event_services.Interfaces
@inherits LayoutComponentBase
@inject IStateController Controller

<div class="contentManager">
    <ImageViewer Src="@LogoSrc" Visible="@IsPlanVisible"></ImageViewer>
    <GamesViewer Visible="@IsGamesVisible" Order="1" Page="@Page"></GamesViewer>
    <ImageViewer Src="@PlanSrc1" Visible="@IsPlan1Visible"></ImageViewer>
    <ImageViewer Src="@PlanSrc2" Visible="@IsPlan2Visible"></ImageViewer>
    <ImageViewer Src="@PlanSrc3" Visible="@IsPlan3Visible"></ImageViewer>
    <ProgramViewer Visible="@IsProgramVisible" Order="2"></ProgramViewer>
</div>


@code {

    private int VisibleState = 0;

    private int Page => VisibleState;

    private bool IsPlanVisible => false; 

    private bool IsGamesVisible => VisibleState is 0 or 1 or 2;

    private bool IsPlan1Visible => false;
    
    private bool IsPlan2Visible => false;
    
    private bool IsPlan3Visible => false;

    private bool IsProgramVisible => false;

    protected override async Task OnInitializedAsync()
    {
        VisibleState = Controller.ContentState;
        Controller.HalfMinuteElapsed += TriggerSwitch;
    }

    private void TriggerSwitch(object? e, EventArgs ee)
    {
        if (VisibleState < 2)
        {
            Controller.TriggerContentChanged(VisibleState + 1);
        }
        else
        {
            Controller.TriggerContentChanged(0);
        }
        
        VisibleState = Controller.ContentState;
        InvokeAsync(StateHasChanged);
    }
    
    private string LogoSrc { get; set; } = @".\img\ratcon.jpg";
    
    private string PlanSrc1 { get; set; } = @".\img\Lageplan-eg.jpg";
    
    private string PlanSrc2 { get; set; } = @".\img\Lageplan-1og.jpg";
    
    private string PlanSrc3 { get; set; } = @".\img\Lageplan-2.jpg";
}