@using con_event_services.Interfaces
@inherits LayoutComponentBase
@inject IStateController Controller

<div class="contentManager">
    <ImageViewer Src="@LogoSrc" Visible="@IsPlanVisible"></ImageViewer>
    <GamesViewer Visible="@IsGamesVisible" Order="1"></GamesViewer>
    <ImageViewer Src="@PlanSrc" Visible="@IsVendorsVisible"></ImageViewer>
    <ProgramViewer Visible="@IsProgramVisible" Order="3"></ProgramViewer>
</div>


@code {

    private int VisibleState = 0;
    
    private bool IsPlanVisible => VisibleState == 0;

    private bool IsGamesVisible => VisibleState == 1;

    private bool IsVendorsVisible => VisibleState == 2;

    private bool IsProgramVisible => VisibleState == 3;

    protected override async Task OnInitializedAsync()
    {
        VisibleState = Controller.ContentState;
        Controller.HalfMinuteElapsed += TriggerSwitch;
    }

    private void TriggerSwitch(object? e, EventArgs ee)
    {
        if (VisibleState < 3)
        {
            Controller.TriggerContentChanged(VisibleState + 1);
        }
        else
        {
            Controller.TriggerContentChanged(0);
        }
        
        VisibleState = Controller.ContentState;
        InvokeAsync(StateHasChanged);
    }
    
    private string PlanSrc { get; set; } = @".\img\plan.png";
    
    private string LogoSrc { get; set; } = @".\img\logo-main.png";
}